language: java
matrix:
  include:
    - jdk: openjdk8
    - jdk: openjdk10
    - jdk: openjdk11

#install: mvn install clirr:check
install: mvn install
after_success:
  - mvn -DrepoToken=${coveralls_token} clean test jacoco:report coveralls:report --projects=radiobrowser4j
