<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="SnmpMan">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%p: %m%n%throwable{1}" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="console" />
    </Root>
    <Logger name="de.sfuhrm.radiobrowser4j" level="debug">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>
